<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/customer/layout :: head">
<body>
<h3>View Customer</h3>
<p>
    <a th:href="@{/customer}">
        Back to customer list
    </a>
</p>
<div id="detail">
    <div class="cusdetail">
        <label>Id:</label>
        <label th:text="${customer.get().id}"></label>
    </div>
    <div class="cusdetail">
        <label>Name:</label>
        <label th:text="${customer.get().name}"></label>
    </div>
    <div class="cusdetail">
        <label>Address:</label>
        <label th:text="${customer.get().address}"></label>
    </div>
</div>
<footer th:replace="/customer/layout :: footer"></footer>
</body>
</html>

