<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Customers </title>
    <link rel="stylesheet" href="fontawesome-free-5.15.4-web/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>

</head>

<body>
<div class="row">
    <div class="col-lg-3">
        <a href="/home">
            <button type="button" class="btn btn-warning" style="font-size: 17px; margin-bottom: -17px; height: 39px;">
                <span><i class="fas fa-chevron-circle-left"></i></span> Back to Home
            </button>
        </a>
    </div>
    <div class="col-lg-6">
        <h1 style="text-align: center;margin-top:41px; margin-bottom: 42px; color: green">Customer</h1>
    </div>
    <div class="col-lg-3">
       <a href="/create-customer" style="font-size: 20px;color: #3f48eb; padding-left: 99px">
            <button type="button" style="background: #14ce14;font-size: 17px;height: 39px;margin-top: 3px;border-radius: 6px;border: none">
                Create Customer <span><i class="fas fa-user-plus" style="color: red"></i></span>
            </button>
       </a>
    </div>
</div>
<form class="d-flex col-6" action="/customers" method="get">
    <input class="form-control" name="customerName" type="search" placeholder="name">
    <input class="form-control" name="email" type="search" placeholder="email">
    <input class="form-control" name="address" type="search" placeholder="address">
    <input class="btn btn-light" type="submit" value="Search">
</form>

<div id="searchTable">
    <table class="table table-bordered table-striped ">
        <tr>
            <td>NO</td>
            <td>Customer code</td>
            <td>Customer type</td>
            <td>Customer Name</td>
            <td>Birthday</td>
            <td>Gender</td>
            <td>ID Card</td>
            <td>Number Phone</td>
            <td>Email</td>
            <td>Address</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>

        <th:block th:each="customer,loop : ${customers}">
            <tr>

                <td th:text="${loop.count}"></td>
                <td th:text="${customer.customerCode}"></td>
                <td th:text="${customer.customerType.customerTypeName}"></td>
                <td th:text="${customer.customerName}"></td>
                <td th:text="${customer.customerBirthDay}"></td>
                <th:block>
                    <td th:if="${customer.customerGender=='1'}" th:text="Male"></td>
                    <td th:if="${customer.customerGender=='0'}" th:text="Fmale"></td>
                </th:block>
                <td th:text="${customer.customerIdCard}"></td>
                <td th:text="${customer.customerPhone}"></td>
                <td th:text="${customer.customerEmail}"></td>
                <td th:text="${customer.customerAddress}"></td>
                <td>
                    <a th:href="@{/edit-customer/__${customer.id}__}">
                        <button type="button" class="btn btn-warning" >Edit</button>
                    </a>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" id="btnModalDelete"
                            th:onclick="'javascript:showDelete(\''+${customer.id}+'\');'">Delete
                    </button>
                </td>
            </tr>
        </th:block>
    </table>
</div>
<!--modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--                ...-->
            </div>
            <div class="modal-footer">
                <!--           ...-->
            </div>
        </div>
    </div>
</div>
<!--phan trang-->
<div>
    <a th:href="@{'/customers'(page=${customers.number - 1}, customerName=${customerName}, email = ${email}, adrress = ${address})}"
       th:if="${customers.hasPrevious()}">Previous</a>
    <span th:text="${customers.number + 1}"></span>/<span th:text="${customers.totalPages}"></span>
    <a th:href="@{'/customers'(page=${customers.number + 1}, customerName=${customerName}, email = ${email}, adrress = ${address})}"
       th:if="${customers.hasNext()}">Next</a>
</div>

<!--nhay trang-->
<div>
    <span th:each="pageNo:${#numbers.sequence(0,customers.totalPages - 1)}">
            <a th:href="@{/customers(page=${pageNo})}" th:text="${pageNo+1}"></a>
        </span>
</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script type="text/javascript">
    function showDelete(id) {
        $.ajax({
            type: "GET",
            url: "/delete-customer/" + id,
            dataType: "HTML",
            success: function (data) {
                console.log(data);
                $(".modal-body").html(data);
                $("#exampleModal").modal("show");
            }
        })
    }

    function actionDelete(id) {
        $.ajax({
            type: "POST",
            url: "/delete-customer/" + id,
            dataType: "HTML",
            success: function (data) {
                let message = "Delete successfully!"
                setTimeout(function () {
                    $("#exampleModal").modal("hide");
                }, 2000)
                $("#searchTable").html(data);
                $(".modal-body").html(message);
            }
        })
    }
</script>
</html>