<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  </head>
<body>
<div id="searchTable">
    <table class="table table-bordered table-striped ">
        <tr>
            <td>NO</td>
            <td>Customer code</td>
            <td>Customer type</td>
            <td>Customer Name</td>
            <td>Birthday</td>
            <td>Gender</td>
            <td>ID Card</td>
            <td>Number Phone</td>
            <td>Email</td>
            <td>Address</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>

        <th:block th:each="customer,loop : ${customers}">
            <tr>

                <td th:text="${loop.count}"></td>
                <td th:text="${customer.customerCode}"></td>
                <td th:text="${customer.customerType.customerTypeName}"></td>
                <td th:text="${customer.customerName}"></td>
                <td th:text="${customer.customerBirthDay}"></td>
                <th:block>
                    <td th:if="${customer.customerGender=='1'}" th:text="Male"></td>
                    <td th:if="${customer.customerGender=='0'}" th:text="Fmale"></td>
                </th:block>
                <td th:text="${customer.customerIdCard}"></td>
                <td th:text="${customer.customerPhone}"></td>
                <td th:text="${customer.customerEmail}"></td>
                <td th:text="${customer.customerAddress}"></td>
                <td><a th:href="@{/customer/edit-customer/__${customer.id}__}">Edit</a></td>
                <td>
                    <button type="button" class="btn btn-danger" id="btnModalDelete" th:onclick="'javascript:showDelete(\''+${customer.id}+'\');'">Delete</button>
                </td>
            </tr>
        </th:block>
    </table>
</div>
</body>
</html>