<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/blog/layout :: head">
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"><script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script type="text/javascript">
    function showViewDetail(id) {
        $.ajax({
            type: "GET",
            url: "/view-blog/" +id,
            dataType: "HTML",
            success: function (data) {
                console.log(data);
                $(".modal-body").html(data);
                $("#exampleModal").modal("show");
            }
        })
    }
</script>
<body>



<h3>Blog</h3>
<p>
    <a th:href="@{/create-blog}">
        Add new Blog
    </a>
</p>
<div id="form">
    <form action="/blog"
          method="get" novalidate="novalidate">
        <div>
            <label>Search By Name</label>
            <input type="text" name="nameBlog">
        </div>
        <input type="submit" value="Search"/>
    </form>
</div>
<div id="form1">
    <form action="/blog"
          method="get" novalidate="novalidate">
        <select name="cateId" onchange="this.form.submit()">
            <option disabled selected>Choose category</option>
            <th:block th:each="category: ${categoryList}">
                <option th:value="${category.id}" th:text="${category.name}"></option>
            </th:block>
        </select>
    </form>
</div>
<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>
<table id="blog">
    <thead>
    <tr>
        <th>Blog Name</th>
        <th>Author</th>
        <th>Date Write</th>
        <th>category</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row : ${blogs}">
        <td th:text="${row.name}"></td>
        <td th:text="${row.author}"></td>
        <td th:text="${row.date}"></td>
        <td th:text="${row.category.name}"></td>
        <td>
            <button type="button" class="btn btn-danger" id="btnModalDelete" th:onclick="'javascript:showViewDetail(\''+${row.id}+'\');'">View Detail</button>
        </td>
        <td><a th:href="@{/edit-blog/__${row.id}__}">Edit</a></td>
        <td><a th:href="@{/delete-blog/__${row.id}__}">Delete</a></td>
    </tr>
    </tbody>
</table>
<div>
    <a th:href="@{'/blog'(page=${blogs.number - 1}, nameBlog = ${nameBlog}, cateId = ${cateId})}"
       th:if="${blogs.hasPrevious()}">Previous</a>
    <span th:text="${blogs.number + 1}"></span>/<span th:text="${blogs.totalPages}"></span>
    <a th:href="@{'/blog'(page=${blogs.number + 1}, nameBlog = ${nameBlog}, cateId = ${cateId})}"
       th:if="${blogs.hasNext()}">Next</a>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<footer th:replace="/blog/layout :: footer"></footer>
</body>
</html>