<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>update New Song</h3>

<a href="/list-song">Come back List</a>
<th:block th:if="${message}">
    <p style="color: blue" th:text="${message}"></p>
</th:block>
<div id="form">
    <form th:action="@{/update-song}" th:object="${songDto}"
          method="POST" novalidate="novalidate">
        <input th:type="hidden" name="id" th:field="*{id}">
        <div>
            <label>Song Name</label>
            <input type="text" th:field="*{name}"/>
            <p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
        </div>
        <div>
            <label>Singer</label>
            <input type="text" th:field="*{singer}"/>
            <p style="color: red" th:if="${#fields.hasErrors('singer')}" th:errors="*{singer}">Name Error</p>
        </div>
        <div>
            <label>Type Song</label>
            <input type="text" th:field="*{typeSong}"/>
            <p style="color: red" th:if="${#fields.hasErrors('typeSong')}" th:errors="*{typeSong}">Name Error</p>
        </div>
        <input type="submit" value="Update"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>